USE [SportsServicesManagement]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 12/29/2025 12:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](100) NOT NULL,
	[LoaiHinh] [nvarchar](50) NULL,
	[DonGiaGio] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/29/2025 12:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[LoaiThanhVien] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/29/2025 12:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[ChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDat]    Script Date: 12/29/2025 12:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDat](
	[MaPhieu] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[MaDV] [int] NULL,
	[NgaySuDung] [date] NULL,
	[GioBatDau] [time](7) NULL,
	[GioKetThuc] [time](7) NULL,
	[ThanhTien] [decimal](18, 0) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaNV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/29/2025 12:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhauHash] [nvarchar](256) NOT NULL,
	[QuyenHan] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[MaNV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([MaDV], [TenDichVu], [LoaiHinh], [DonGiaGio]) VALUES (1, N'Sân Tennis VIP 1', N'Tennis', CAST(300000 AS Decimal(18, 0)))
INSERT [dbo].[DichVu] ([MaDV], [TenDichVu], [LoaiHinh], [DonGiaGio]) VALUES (2, N'Sân Tennis Thường 2', N'Tennis', CAST(200000 AS Decimal(18, 0)))
INSERT [dbo].[DichVu] ([MaDV], [TenDichVu], [LoaiHinh], [DonGiaGio]) VALUES (3, N'Sân Cầu Lông A', N'Cầu Lông', CAST(80000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[DichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKhachHang], [SoDienThoai], [LoaiThanhVien]) VALUES (1, N'Nguyễn Văn Hùng', N'0909123456', N'VIP')
INSERT [dbo].[KhachHang] ([MaKH], [TenKhachHang], [SoDienThoai], [LoaiThanhVien]) VALUES (2, N'Lê Thị Lan', N'0912345678', N'Thân thiết')
INSERT [dbo].[KhachHang] ([MaKH], [TenKhachHang], [SoDienThoai], [LoaiThanhVien]) VALUES (3, N'Phạm Văn Mách', N'0987654321', N'Vãng lai')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [DiaChi], [ChucVu]) VALUES (2, N'Lê Thanh Trân', CAST(N'2004-08-10' AS Date), N'Nam', N'0123145123', N'Đồng Tháp', N'Quản Lý')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [DiaChi], [ChucVu]) VALUES (4, N'Lê Mai Trường Chinh', CAST(N'2025-12-29' AS Date), N'Nam', N'0215213131', N'Đồng Tháp', N'Lao công')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuDat] ON 

INSERT [dbo].[PhieuDat] ([MaPhieu], [MaKH], [MaDV], [NgaySuDung], [GioBatDau], [GioKetThuc], [ThanhTien], [TrangThai], [MaNV]) VALUES (1, 1, 1, CAST(N'2025-12-01' AS Date), CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), CAST(600000 AS Decimal(18, 0)), N'HoanTat', NULL)
INSERT [dbo].[PhieuDat] ([MaPhieu], [MaKH], [MaDV], [NgaySuDung], [GioBatDau], [GioKetThuc], [ThanhTien], [TrangThai], [MaNV]) VALUES (2, 2, 3, CAST(N'2025-12-01' AS Date), CAST(N'17:00:00' AS Time), CAST(N'19:00:00' AS Time), CAST(160000 AS Decimal(18, 0)), N'HoanTat', NULL)
INSERT [dbo].[PhieuDat] ([MaPhieu], [MaKH], [MaDV], [NgaySuDung], [GioBatDau], [GioKetThuc], [ThanhTien], [TrangThai], [MaNV]) VALUES (3, 3, 5, CAST(N'2025-12-02' AS Date), CAST(N'18:00:00' AS Time), CAST(N'20:00:00' AS Time), CAST(100000 AS Decimal(18, 0)), N'HoanTat', NULL)
SET IDENTITY_INSERT [dbo].[PhieuDat] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([UserID], [TenDangNhap], [MatKhauHash], [QuyenHan], [HoTen], [MaNV]) VALUES (1, N'admin', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', N'Admin', N'Quản Lý Hùng', 0)
INSERT [dbo].[TaiKhoan] ([UserID], [TenDangNhap], [MatKhauHash], [QuyenHan], [HoTen], [MaNV]) VALUES (2, N'nhanvien1', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', N'Staff', N'Nguyễn Văn A', 1)
INSERT [dbo].[TaiKhoan] ([UserID], [TenDangNhap], [MatKhauHash], [QuyenHan], [HoTen], [MaNV]) VALUES (3, N'nhanvien2', N'5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8', N'Staff', N'Trần Thị B', 3)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC036861DF0]    Script Date: 12/29/2025 12:35:49 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PhieuDat]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[PhieuDat]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[PhieuDat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDat_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuDat] CHECK CONSTRAINT [FK_PhieuDat_NhanVien]
GO
